body,
dl,
menu,
ol,
ul {
    margin: 0
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}
audio:not([controls]) {
    display: none;
    height: 0
}
html {
    font-size: 100%;
    font-family: sans-serif
}
body {
    font-size: 14px;
    line-height: 1.5;
    color: #0a0a0a
}
a:focus {
    outline: dotted thin
}
a:active,
a:hover {
    outline: 0
}
p,
pre {
    margin: 0 0 1em
}
q::after,
q::before {
    content: none
}
menu,
ol,
ul {
    padding: 0 0 0 40px
}
img {
    border: 0;
    max-width: 100%;
    height: auto
}
svg:not(:root) {
    overflow: hidden
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
p {
    hyphens: auto
}
ol,
ul {
    padding: 0;
    list-style-type: none
}
.clearfix::after,
.clearfix::before {
    content: "";
    display: table
}
.clearfix::after {
    clear: both
}
* {
    box-sizing: border-box
}
.wrap {
    width: 100%;
    margin: 0 auto
}
.header {
    background: #f5f5f5
}
#cb-content {
    min-height: 200px
}
.home #cb-content {
    min-height: 0!important
}
#cb-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 905;
    visibility: hidden;
    transition: all .4s ease 0s;
    background: #000;
}
.fa.cb-times::before {
    content: ""
}
.fa.cb-times::after {
    content: "";
    position: relative;
    left: -3px
}
#cb-top-menu .cb-mob #mob-logo img:not(.cb-retina) {
    width: auto
}
#cb-content,
#content.widecolumn {
    background: #fff
}
.cb-main {
    width: 100%;
    padding: 10px
}
.cb-404-header,
.cb-cat-header,
.cb-page-header {
    text-align: center;
    padding: 15px;
    background: #f5f5f5;
    letter-spacing: 1px;
    border-bottom: 3px solid transparent
}
.cb-404-header #cb-cat-title,
.cb-cat-header #cb-cat-title,
.cb-page-header #cb-cat-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 0
}
a,
a:visited {
    color: red;
    text-decoration: none
}
.h1,
h1 {
    font-size: 16px;
    margin: 0 0 10px
}
#cb-logo-box {
    display: table;
    padding: 10px
}
#logo {
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    float: left
}
.cb-h-block {
    float: left;
    width: 100%;
    padding: 0 10px
}
.entry-content {
    margin: 0 0 30px
}
.entry-content ul {
    margin: 15px 0;
    list-style-type: circle;
    list-style-position: inside
}
.entry-content img {
    margin: 0 0 20px;
    max-width: 100%;
    height: auto
}
#cb-footer {
    background-color: #272727;
    border-top: 20px solid #333;
    margin-bottom: 20px;
}
#cb-footer #cb-widgets {
    background-color: #272727;
    overflow: hidden
}
.cb-pre-load .cb-recent::before {
    transform: translateY(-50%);
    font-family: fontawesome;
    content: "";
    animation: 1s ease 0s normal none infinite running cb-spinner;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    z-index: 1;
    opacity: 0;
    transition: opacity .25s ease 0s
}
.cb-dark-menu .cb-pre-load .cb-recent::before {
    color: #fff
}
.cb-light-menu .cb-pre-load .cb-recent::before {
    color: #161616
}
.cb-pre-load.cb-pro-load .cb-recent::before {
    opacity: 1
}
@media only screen and (max-width: 481px) {
    .woocommerce ul.products li.product:nth-child(2n),
    .woocommerce-page ul.products li.product:nth-child(2n) {
        float: left;
        clear: none!important
    }
}
@media only screen and (min-width: 481px) {
    .h1,
    h1 {
        font-size: 20px
    }
    .wrap {
        width: 480px
    }
    .cb-fw-bs .cb-main,
    .cb-main {
        width: 440px
    }
    .cb-main {
        float: left;
        padding: 20px 0 0
    }
    #cb-content .cb-main,
    #content.widecolumn .cb-main {
        margin: 0 20px
    }
    .cb-boxed #cb-container {
        box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0), 0 -9px 0 0 rgba(255, 255, 255, 0), 10px 0 30px 0 rgba(0, 0, 0, .15), -10px 0 30px 0 rgba(0, 0, 0, .15)
    }
    .entry-content .aligncenter,
    .entry-content img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both
    }
    .cb-about-page.wrap .cb-author-line .cb-author-details:nth-child(2n) {
        margin-right: 0
    }
    .cb-module-half:nth-child(2n+1) {
        margin: 0 4% 20px 0
    }
}
@media only screen and (max-width: 767px) {
    .cb-large {
        width: 100%
    }
}
@media only screen and (min-width: 768px) {
    .cb-main {
        width: 450px
    }
    .cb-fw-bs .cb-main {
        width: 710px
    }
    .cb-404-header,
    .cb-cat-header,
    .cb-page-header {
        padding: 20px
    }
    .cb-404-header #cb-cat-title,
    .cb-cat-header #cb-cat-title,
    .cb-page-header #cb-cat-title {
        font-size: 26px
    }
    #cb-content {
        min-height: 400px
    }
    .cb-about-page.wrap .cb-author-line .cb-author-details:nth-child(2n) {
        margin-right: 10px
    }
    #cb-content .cb-main,
    #content.widecolumn .cb-main {
        margin: 0 0 0 20px
    }
    #cb-content a:hover,
    #content.widecolumn a:hover {
        text-decoration: underline
    }
    .wrap {
        width: 750px
    }
    .cb-with-large {
        width: 100%;
        text-align: center
    }
    .cb-large {
        float: left;
        width: 728px;
        height: 90px;
        padding: 0
    }
    #cb-top-menu .cb-top-nav .cb-has-children>a::after {
        content: "";
        font-family: fontawesome;
        font-size: 8px;
        color: #b3b3b3;
        padding-left: 5px;
        vertical-align: middle
    }
    #cb-nav-bar #cb-main-menu .main-nav .cb-has-children>a::after {
        content: "";
        font-family: fontawesome;
        font-size: 10px;
        padding-left: 5px;
        vertical-align: middle
    }
    #cb-nav-bar #cb-main-menu .main-nav .cb-mega-menu .cb-has-children a::after {
        content: ""
    }
    .cb-module-block .cb-big-thumb.format-audio .cb-mask a::after,
    .cb-module-block .cb-big-thumb.format-gallery .cb-mask a::after,
    .cb-module-block .cb-big-thumb.format-video .cb-mask a::after {
        line-height: 100px;
        margin-left: -50px;
        margin-top: -50px;
        height: 100px;
        width: 100px;
        font-size: 2em
    }
    .cb-module-half:nth-child(2n+1) {
        margin: 0 4% 20px 0
    }
}
@media only screen and (max-width: 1020px) {
    .woocommerce ul.products li.product:nth-child(2n),
    .woocommerce-page ul.products li.product:nth-child(2n) {
        float: right;
        clear: none!important
    }
}
@media only screen and (min-width: 1020px) {
    .h1,
    h1 {
        font-size: 28px;
        margin: 0 0 20px
    }
    .cb-main {
        width: 610px;
        padding: 30px 0 0
    }
    .cb-fw-bs .cb-main {
        width: 940px
    }
    .wrap {
        width: 1000px
    }
    #logo,
    .cb-with-large {
        text-align: left;
        width: auto
    }
    #logo {
        float: none;
        margin-bottom: 0
    }
    .cb-with-large a img {
        max-width: 210px
    }
    #cb-logo-box {
        padding: 10px 10px 10px 30px
    }
    .cb-large {
        float: right
    }
    #cb-content .cb-main,
    #content.widecolumn .cb-main {
        margin: 0 0 0 30px
    }
    #cb-content {
        min-height: 500px
    }
    .cb-404-header,
    .cb-cat-header,
    .cb-page-header {
        padding: 25px
    }
    .cb-404-header #cb-cat-title,
    .cb-cat-header #cb-cat-title,
    .cb-page-header #cb-cat-title {
        font-size: 32px
    }
    .cb-about-page.wrap .cb-author-line .cb-author-details:nth-child(2n) {
        margin-right: 20px
    }
    .cb-module-half:nth-child(2n+1) {
        margin: 0 4% 40px 0
    }
}
@media only screen and (min-width: 1200px) {
    .cb-main {
        width: 750px
    }
    .cb-fw-bs .cb-main {
        width: 1140px
    }
    .wrap {
        width: 1200px
    }
    #cb-content {
        min-height: 600px
    }
    .cb-with-large a img {
        max-width: none
    }
    #cb-nav-bar #cb-main-menu .main-nav .cb-has-children a::after {
        font-size: 10px;
        padding-left: 5px
    }
    .cb-module-half:nth-child(2n+1) {
        margin: 0 30px 50px 0
    }
    .cb-about-page.wrap .cb-author-line .cb-author-details:nth-child(2n) {
        margin-right: 30px
    }
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+370-3FF
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2) format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2) format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
#respond,
body {
    font-family: "Lucida Bright", "Open Sans", sans-serif
}

